{% extends "Bookmis/base.html" %}
{% load staticfiles %}
{% block title %}借书{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text-center">借阅成功，您的最晚还书日期为{{ new_borrow.dateReturn }}</h2>
                    </div>
                {% elif state == 'max_lend' %}
                    <div class="well">
                        <h2 class="text-success text-center">该图书已被借完</h2>
                    </div>
                {% elif state == 'max_book' %}
                    <div class="well">
                        <h2 class="text-success text-center">您的借阅册数已达上限，请还书或升级会员后再借阅</h2>
                    </div>
                {% elif state == 'no_user' %}
                    <div class="well">
                        <h2 class="text-success text-center">该用户不存在</h2>
                    </div>
                {% elif state == 'loss' %}
                    <div class="well">
                        <h2 class="text-success text-center">该用户已挂失，不能借书</h2>
                    </div>
                {% elif state == 'no_book' %}
                    <div class="well">
                        <h2 class="text-success text-center">找不到该图书</h2>
                    </div>
                {% endif %}
                 <form method="post" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-center">输入借阅信息</h1>
                    <div class="form-group">
                        <label for="id_user_name" class="col-md-3 control-label">用户名:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_user_name" required name="username" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_bookid" class="col-md-3 control-label">图书编号:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_bookid" required name="book_id">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-primary btn-block" id="id_submit">借阅</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}